<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="ClosedXML" version="0.93.1" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.3.0" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package id="html5-shiv" version="3.7.3" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="itextsharp.xmlworker" version="5.5.10" targetFramework="net452" />
  <package id="jQuery" version="1.12.4" targetFramework="net452" />
  <package id="jquery.datatables" version="1.10.12" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net461" />
  <package id="knockoutjs" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30116.0" targetFramework="net461" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Modernizr" version="2.6.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Respond" version="1.4.2" targetFramework="net452" />
  <package id="Twitter.Typeahead" version="0.10.2" targetFramework="net452" />
  <package id="Twitter.Typeahead.MVC" version="1.1.2" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0.4" targetFramework="net452" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" />
  <package id="x-editable" version="1.5.3" targetFramework="net452" />
</packages>