@using SEDOGv2.Helpers;
@model SEDOGv2.Models.ParametrosVendaFisicaViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-success">
        <div class="row">
            <div class="panel-heading  text-center">
                <h2>
                    Delete User
                </h2>
            </div>
        </div>


        <div class="col-md-12" runat="server" id="divAlert">
            @ViewBag.Error
        </div>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Delete Config?</h4></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <h5>Midia:</h5>
                                @Html.DisplayFor(model => model.MIDIA, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                              
                                <br />
                                <input type="submit" name="apagar" value="Delete" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    @Html.ActionLink("Back to list", "Index", "ParametrosVendaFisica", null, new { @class = "link" })
                </div>
            </div>
        }

    </div>

</div>