@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dots" class="absolute"></div>

<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive text-center">
            <form id="formLogin" runat="server" class="form-signin" method="post">
                <h3 class="form-signin-heading"><i class="fa fa-pie-chart"></i>&nbsp;SEDOG <img src="~/2_0.svg" class="logoFontImpactLogin" /></h3>

                <div class="form-group">
                    <input type="text" class="form-control" id="txtLogin" name="txtLogin" placeholder="Login" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="txtPass" name="txtPass" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <select class="form-control" id="selServidor" name="selServidor">
                        <option value="BRRIO04:BRSEDOG:pt-BR">BRASIL</option>
                        <option value="BRRIO01:MXSEDOG:es-MX">MEXICO</option>
                    </select>
                </div>
                <input type="submit" title="Logar" value="Access" id="btnLogar" class="btn btn-lg btn-default btn-block" />
                <div class="row">
                    <div class="col-md-12" id="divAlert">
                        @Html.Raw(ViewBag.Message)
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





